.tagging-container {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  gap: 1rem;
  justify-items: start;
}

.clip-container {
  display: block;
}

.clip-container.selected {
  opacity: 0.5;
}
