*,
*::after,
*::before {
  font-family: "Roboto";
}

#root {
  --included-color: rgb(96 165 250);
  --excluded-color: rgb(248 113 113);
}

.roboto-mono {
  font-family: "Roboto Mono" !important;
}

#tag-search {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.tag {
  transition: all 0.25s;
  padding-left: 0.3rem;
}

.tag:not(.selected) .tag-button {
  transition: all 0.2s;
  position: relative;
  right: 0rem;
  opacity: 0;
}

.tag:not(.selected):hover .tag-button {
  opacity: 1;
  right: 0.25rem;
}

.sidebar-taglist .tag,
.selected-tags .tag {
  border-radius: 9999px;
}

.sidebar-taglist .tag {
  padding: 0.25rem 0.25rem;
}

.sidebar-taglist .tag:hover {
  background-color: white;
  padding-left: 0.6rem;
}

.sidebar-taglist .tag.selected {
  max-width: 60%;
  background-color: #fff;
}

.sidebar-taglist .tag.selected span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selected-tags .tag {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.selected-tags .tag .tag-button {
  margin: 0 0.25rem;
}

.tag.selected.has-button .tag-button-icon {
  padding: 0.125rem;
}

.tag.has-action.selected.included {
  background-color: var(--included-color);
}

.tag.has-action.selected.excluded {
  background-color: var(--excluded-color);
}

.tag.has-action.selected:hover span {
  text-decoration: line-through;
}

#context-menu {
  padding: 0.5rem;
  padding-bottom: 0rem;
  background-color: #fff;
  border-radius: 0.25rem;
  min-width: 26rem;
  width: 26rem;
  max-width: 26rem;
}

#context-menu .context-menu-item {
  margin-bottom: 0.5rem;
}

.theme-options {
  display: block;
  height: 4rem;
  width: 100%;
  clear: both;
}

.theme-options .theme-button-image {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  float: left;
}

.clips-container {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 0.6fr));
  padding: 1rem;
  gap: 1rem;
  justify-items: start;
}

.clip {
  display: block;
  position: relative;
}

.clip-video-container {
  background-color: #c4c4c4;
  padding: 0.125rem;
  border-radius: 0.3125rem;
}

.clip-metadata {
  position: absolute;
  top: 0%;
  padding: 0.625rem;
  height: 100%;
  width: 100%;
  border-radius: 0.3125rem;
  opacity: 0;
  transition: all ease-in 150ms;
  background: linear-gradient(#000, transparent);
}

.clip:hover .clip-metadata {
  opacity: 1;
}

.clip-metadata .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-height: 50%;
}

.clip-metadata .tag {
  padding: 0 0;
  border-radius: 999px;
  background-color: beige;
}

.clip-metadata .tag-name {
  font-size: smaller;
  padding: 0.0625rem 0.5rem;
  border-radius: 999px;
  background-color: beige;
}

.selected-video-highlight {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  border-radius: 0.3125rem;
  pointer-events: none;
  transition: all ease-in 150ms;
}

.clip:hover .selected-video-highlight {
  border-width: 0.125rem;
  border-color: #000;
}

.clip.selected .selected-video-highlight {
  border-width: 3px !important;
  border-color: rgb(0, 123, 255) !important;
}
