#root {
  --app-background: rgb(216, 202, 0);
}

*,
*::after,
*::before {
  font-family: "Roboto";
}

.roboto-mono {
  font-family: "Roboto Mono" !important;
}

.sidebar {
  background-color: #c4c4c4;
}

.clips-container {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  gap: 1rem;
  justify-items: start;
}

.clip-container {
  display: block;
}

.clip-container.selected {
  opacity: 0.5;
}

#tag-search {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.selected-tag {
  max-width: 50%;
}

.selected-tag p:hover {
  text-decoration: line-through;
}

.selected-tag p {
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tag-container .tag-name {
  max-width: 80%;
}

.tag-container .tag-button {
  transition: all 0.2s;
  position: relative;
  right: 0rem;
  opacity: 0;
}

.tag-container:hover .tag-button {
  opacity: 1;
  right: 0.25rem;
}

.tag-container {
  transition: all 0.25s;
  padding-left: 0.3rem;
}

.sidebar-taglist .tag-container:hover {
  background-color: white;
  padding-left: 0.6rem;
}

.selected-tag .tag-button-icon {
  padding: 0.125rem;
}

#context-menu {
  padding: 0.5rem;
  padding-bottom: 0rem;
  background-color: #fff;
  border-radius: 0.25rem;
  min-width: 26rem;
  width: 26rem;
  max-width: 26rem;
}

#context-menu .context-menu-item {
  margin-bottom: 0.5rem;
}

.theme-options {
  display: block;
  height: 4rem;
  width: 100%;
  clear: both;
}

.theme-options .theme-button-image {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  float: left;
}
