#root {
  --app-background: linear-gradient(to right, #faec50, #f6da32);
  --sidebar-background: linear-gradient(to left, #faec50, #f6da32);
  --card-background: black;
  --card-width: 1rem;
  --included-color: rgb(96 165 250);
  --excluded-color: rgb(248 113 113);
}

*,
*::after,
*::before {
  font-family: "Roboto Mono";
  font-weight: 400;
}

.roboto-mono {
  font-family: "Roboto Mono" !important;
}

/* Clips */

.clips-container {
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  padding: var(--card-width);
  gap: 0;
  justify-items: start;
}

.clip {
  transition: all 0.2s;
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: var(--card-width);
  padding: 0rem;
  background-color: transparent;
}

.clip:hover {
  background-color: var(--card-background);
  padding: var(--card-width);
  margin: 0rem;
}

/* TODO: make this better */
.clip.selected {
  opacity: 0.5;
}

.clip .clip-metadata {
  transition: all 0.2s;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 100%;
  left: 0;
  color: white;
  height: 0;
  background-color: transparent;
}

.clip:hover .clip-metadata {
  height: auto;
  padding: 0 var(--card-width);
  background-color: var(--card-background);
}

.clip-metadata .tag-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: var(--card-width);
}

.clip-metadata .tag {
  flex-grow: 0;
  width: auto;
}

/* Sidebar */
.selected-tags,
.sidebar-taglist {
  padding: 0 0.75rem;
  margin: 0.25rem 0;
}

.selected-tags {
  gap: 0.25rem;
}

/* Tags */
#sidebar .tag {
  padding-left: 0.4rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0.15rem;
}

#sidebar .sidebar-taglist .tag .tag-button {
  position: relative;
  opacity: 0;
}

#sidebar .tag:hover .tag-button {
  opacity: 1;
}

#sidebar .sidebar-taglist .tag:hover {
  background-color: white;
}

#sidebar .tag.selected {
  max-width: 100%;
}

#sidebar .tag.selected span {
  white-space: pre-wrap;
}

#sidebar .tag-button {
  padding: 0 0.5rem;
}

#sidebar .included {
  background-color: var(--included-color);
}

#sidebar .excluded {
  background-color: var(--excluded-color);
}

#sidebar .tag.selected span:hover {
  text-decoration: line-through;
}

#tag-search {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

#context-menu {
  padding: 0.5rem;
  padding-bottom: 0rem;
  background-color: #fff;
  border-radius: 0.25rem;
  min-width: 26rem;
  width: 26rem;
  max-width: 26rem;
}

#context-menu .context-menu-item {
  margin-bottom: 0.5rem;
}

.theme-options {
  display: block;
  height: 4rem;
  width: 100%;
  clear: both;
}

.theme-options .theme-button-image {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  float: left;
}
