@tailwind base;
@tailwind components;
@tailwind utilities;

/*
FONT-FAMILIES
*/
*,
*::after,
*::before {
  font-family: "Roboto";
}

.roboto-mono {
  font-family: "Roboto Mono" !important;
}

/*
MANUAL CLASSES
*/

.app {
}

.sidebar {
  background-color: #c4c4c4;
}

.content {
}

#tag-search {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
