@tailwind base;
@tailwind components;
@tailwind utilities;

/*
FONT-FAMILIES
*/
*,
*::after,
*::before {
  font-family: "Roboto";
}

.roboto-mono {
  font-family: "Roboto Mono" !important;
}

/*
MANUAL CLASSES
*/

#root {
  height: 100vh;
  width: 100vw;
}

.app {
}

.main {
  position: absolute;
  padding-top: 2.75rem;
  top: 0;
}

.sidebar {
  background-color: #c4c4c4;
}

.content {
}

.clips-container {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  gap: 1rem;
  justify-items: start;
}

.clip-container {
  display: block;
}

#tag-search {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.selected-tag {
  max-width: 50%;
}

.selected-tag p:hover {
  text-decoration: line-through;
}

.selected-tag p {
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Force big tags to not take up the whole row */
.tag-container .tag-name {
  max-width: 80%;
}

/* Animation testing */

.tag-container .tag-button {
  transition: all 0.2s;
  position: relative;
  right: 0rem;
  opacity: 0;
}

.tag-container:hover .tag-button {
  opacity: 1;
  right: 0.25rem;
}

.tag-container {
  transition: all 0.25s;
  padding-left: 0.3rem;
}

.sidebar-taglist .tag-container:hover {
  background-color: white;
  padding-left: 0.6rem;
}

.selected-tag .tag-button-icon {
  padding: 0.125rem;
}
