@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Roboto Mono";
  font-weight: 400;
}

#root,
#app,
#content {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  --sidebar-width: 18rem;
  --header-height: 2.75rem;
  --app-background: #fff;
  --card-background: black;
  --card-width: 1rem;
  --included-color: #00deff;
  --excluded-color: #ff66f7;
}

#app {
  background: var(--app-background);
}

#navigation {
  line-height: var(--header-height);
  height: var(--header-height);
}

#content {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding-top: var(--header-height);
}

/*
 * Global tag highlighting 
 */

.highlight-tags .included {
  background-color: var(--included-color);
}
.highlight-tags .excluded {
  background-color: var(--excluded-color);
}
.highlight-tags .selected span:hover {
  text-decoration: line-through;
}

/* 
 * Global fixes
 */

/* Disables text selection, applied when clips are selected */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Force video container to be 16:9 aspect ratio */
.clip-video-container {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
}

/* Center video inside video container */
.clip-video-container video {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Force no transitions in search bar because MUI sucks */
.mui-tag-container .tag-container .tag-button {
  transition: none;
}
